html, body, #map{
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}
body{
    padding: 0;
    margin: 0;
    overflow-y: scroll;
	font-size: 14px;
    color: #202020;
}
.topRow{
    margin-right: 0px;
    padding-left: 25px;
}
.footer{
    margin-right: 0px;
   /* padding-left: 25px;*/
	display: block;
	margin-bottom:30px;
	font-size: 14px;
    color: #A0A0A0;

}


#map{
    margin-top:90px !important;
    height:500px;
}
.typeahead{
    width:90%;
}

.subTitle{
	margin-top:10px !important;
}

.lorem{
    font-style: italic;
    color: #AAA;
}
.tl{
    padding-bottom: 3px;
}
.categories{
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    padding-left:10px;
    padding-right:5px;
    margin-bottom:14px;
    margin-right:1px;
}
.exportB{
    cursor:pointer;
}

#itemTitle{
    animation-name: Title;
    animation-duration: 0.75s;
}
@keyframes Title{
    0%{background-color: white;}
    50%{background-color: #0083cb; color: white;}
    100%{background-color: white;}
}

/* modalMask-dialog-table, related to exportPDF.js */
#modalMask-dialog-table {
    position:fixed;
    top: 35%;
    width:100%;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: none;
    border: none;
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.footerimg {
	padding-right: 07px;
	padding-left: 10px;
}

.legend {
	margin-right:  10px;
	padding-top: 10px;


}
.footer-table {
	width:100%;
	padding-top: 10px;
	padding-bottom: 10px;


}

#dtmiom{

	padding-right: 7px;
	height: 70px;
	
}
#reach{
	padding-right: 7px;
	/*width: 190px;*/
	height: 30px;
}
#unhcr{
	padding-right: 7px;
	/*width: 200px;*/
	height: 30px;
}

#nrc{
	padding-right: 7px;
	/*width: 200px;*/
	height: 30px;
}

#cartong{
	padding-right: 7px;
	/*width: 200px;*/
	height: 30px;
}
#cccmfooter{
	padding-right: 7px;
	/*width: 200px;*/
	height: 30px;
}

table {
  border-collapse:separate; 
  border-spacing: 0 0.5em;
}